<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Calendario</title>

  </head>
  <body>

    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
<li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Eventos</a></li>
        <li><a href="/sobre-nosotros">Quienes somos?</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho">Enterate del proximo evento</div>
    <div class="row">
     <div id="foodiegrid" class="col s3"><img src="https://www.goya.com/media/5257/carne-asada_mexican-grilled-steak_updated.jpg?quality=80?width=470" alt="" height="200" width"200"></div>
     <div id="foodiegrid" class="col s3"><img src="https://image.freepik.com/foto-gratis/surtido-de-rollos-de-sushi_1147-341.jpg" alt="" height="200" width="260"></div>
     <div id="foodiegrid" class="col s3"><img src="http://contenidos.enter.co/custom/uploads/2016/03/shutterstock_275882198.jpg" alt="" height"" width="260"></div>
     <div id="foodiegrid" class="col s3"><img src="https://image.freepik.com/foto-gratis/pescado-a-la-barbacoa-con-patatas-fritas-visto-desde-arriba_1232-993.jpg" alt="" height"200" width="260"></div>
   </div>


    <div id="div2" class="latest_news_block text-center">

		<div class="latest_news_title" height="50">
			<h3 id="calendarFont">Calendario</h3>
      <p>
		</div>
		<div class="post-item-separator"></div>
		<div class="latest_news_date">
		</div>

	</div>

<br>
<table  id="tabla"class="centered" class="bordered">
        <thead>
          <tr>
              <th id="top">Edicion</th>
              <th id="top">Fecha</th>
              <th id="top">lugar</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Argentina</td>
            <td>4/julio</td>
            <td> Parque luis Munos Marin , San Juan </td>
          </tr>
          <tr>
            <td>Italiana</td>
            <td>6/ agosto</td>
            <td>Parque Central , San Juan</td>
          </tr>
          <tr>
            <td>Japonesa</td>
            <td>4 / septiembre </td>
            <td>Pronto ...</td>
          </tr>
          <tr>
            <td>Francesa</td>
            <td>7 / octubre</td>
            <td>Pronto...</td>
          </tr>
          <tr>
            <td>Chilena</td>
            <td>5 / noviembre</td>
            <td>Pronto...</td>
          </tr>
          <tr>
            <td>Criolla</td>
            <td>23 / diciembre </td>
            <td>Pronto...</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <div class="post-item-separator"></div>
      <div class="latest_news_date">
      <p id="pr">Se de los primeros en deleitar la magia de Foodie Nights<p></div>
        <a id="boton"class="waves-effect waves-light btn-large" href="/reservaciones">Reserva en linea</a>
    </div>
    <br>
    <br>

      <footer id="footer"class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">© 2017 Foodie Nights, INC. All Rights Reserved</h5>
                      <p class="grey-text text-lighten-4"></p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text"></h5>
                    </div>




              </footer>



</body>
</html>
