<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title>Calendario</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Calendario</a></li>
        <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"> Calendario</div>
<h1 id="h1cal">Proximos Eventos</h1>
<br>
<table class="centered" class="bordered">
        <thead>
          <tr>
              <th>Version</th>
              <th>Fecha</th>
              <th>lugar</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Argentina</td>
            <td>Martes, 4 de Julio de 2017</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Italiana</td>
            <td>Domingo, 6 de Agosto de 2017</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Japonesa</td>
            <td>lunes, 4 de Septiembre de 2017</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Francesa</td>
            <td>Sabado, 7 de Octubre de 2017</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Chilena</td>
            <td>Domingos, 5 de Noviembre de 2017</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Criolla</td>
            <td>Sabado, 23 de Diciembre de 2017</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>


</body>
</html>
