<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title>Calendario</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Calendario</a></li>
        <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"> Gaucho Nights</div>
</body>
</html>
