<!DOCTYPE html>
<html>
  <head>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="javascript" href="javascript/jquery" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title> guachos.inc </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascript/jquery.js"></script>

  </head>

  <body>

    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>

        <li><a href="/calendario">Eventos</a></li>
        <li><a href="/sobre-nosotros">Quienes somos?</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"> Gaucho Nights</div>

    <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.foodiesusa.com/shop/images/BT1H8697A1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lucre.co.uk/iandi/wp-content/uploads/sites/2/2017/04/Foodies-Ali-Gwynne.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://cf.bojongourmet.com/wp-content/uploads/2016/05/Spicy-Tomato-Chickpea-Pasta-gluten-free-vegan-option-7.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://www.goya.com/media/5257/carne-asada_mexican-grilled-steak_updated.jpg?quality=80?width=470"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
    </div>



<br>
<br>
<h1>La formula de un sabor especial</h1>
  <p id="inicio-explicacion">Te haz topado con querer ir a comer a tu restaurante favorito pero tienes que esperar largas horas por tu mesa? Te presentamos Guacho Nights, concepto "Pop-up restaurant" a llevarse a cabo una vez al mes, en diferentes lugares de la isla ,con la participacion de restaurantes y chef locales reconocidos. Durante los Gaucho Nights las personas podran traer sus sillas o mantas para disfrutar de su picnic en un ambiente familiar.</p>
</p>
<br>
<br>
<hr class="bold">
<h2 id="h22">A entrenar el paladar!</h2>

<div class="row">
  <div class="col s4 m4">
    <p>
      Extiende tu paladar aqui con Gaucho Nights.
      Cada mes traeremos la gastronomia de una cultura diferente. Que te parece la comida
      Argentina o Italiana, hasta incluso la Francesa. Gaucho Nights te facilitara probar estas culturas y mucho mas.
    </p>
  <div class="col s8 m8">
    <img id="imagen" src="" alt="">
  </div>

</div>
</div>
<br>
<br>

<div id="div2"class="latest_news_block text-center">

		<div class="latest_news_title">
			<h3>Ven unete a nuestra familia !</h3>
		</div>
		<div class="post-item-separator"></div>
		<div class="latest_news_date">
		<p id="pr">Ven y comparte en familia<p></div>
      <a id="boton"class="waves-effect waves-light btn-large">Proximo Gaucho Nights</a>
	</div>
  <br>
  <br>
  <br>

      </div>
      <footer id="footer"class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">© 2017 Gaucho Nights, INC. All Rights Reserved</h5>
                      <p class="grey-text text-lighten-4"></p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text"></h5>
                      <ul>

                      </ul>
                    </div>
                  </div>
                </div>
                <di>
                </div>
              </footer>


</body>

</html>
