<!DOCTYPE html>
<html>
  <head>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="javascript" href="javascript/jquery" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title> guachos.inc </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascript/jquery.js"></script>

  </head>
  <nav>
    <ul class="navbar" class="left hide-on-med-and-down">
      <li><a href="/">Inicio</a></li>
      <li><a href="/reservaciones">Reservaciones</a></li>
      <li><a href="/calendario">Eventos</a></li>
      <li><a href="/sobre-nosotros">Quienes somos?</a></li>
   </ul>
  </nav>

  <body>

    <!-- <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Eventos</a></li>
        <li><a href="/sobre-nosotros">Quienes somos?</a></li>
     </ul>
    </nav> -->

    <div class="hero-image">
      <div class="hero-text">
        <h1>Foodie Nights</h1>
        <p>Outdoor International Foodie Experience</p>
        <button><a href="calendario">Next Foodie Night</button>
        <button><a href="reservaciones">Reserva</a></button>

      </div>
    </div>



<br>
<br>
<h1>La fórmula de un sabor especial</h1>
  <p id="inicio-explicacion">¿Te has topado con querer ir a comer a tu restaurante favorito
    pero, tienes que esperar largas horas por tu mesa?... Te presentamos Foodie Nights, concepto
    "pop-up restaurant" que se llevará a cabo una vez al mes, en diferentes lugares de la isla con
    la participación de restaurantes y chefs locales reconocidos. Durante los Foodie Nights las personas
    podrán traer sus sillas o mantas para disfrutar de su "picnic" en un ambiente familiar.</p>
</p>
<br>
<br>
<hr class="bold">
<h2 id="h22">A entrenar el paladar!</h2>

<div class="row">
  <div class="col s4 m4">
    <p>
      Extiende tu paladar con Foodies Nights.
      Cada mes traeremos la gastronomía de una cultura diferente. ¿Qué te parece la comida
      argentina o italiana, hasta incluso la francesa? Foodie Nights te facilitará probar estas
      culturas y mucho más.
    </p>
  <div class="col s8 m8">
    <img id="imagen" src="" alt="">
  </div>

</div>
</div>
<br>
<br>

<div id="div2"class="latest_news_block text-center">

		<div class="latest_news_title">
			<h3>¡Únete!</h3>
		</div>
		<div class="post-item-separator"></div>
		<div class="latest_news_date">
		<p id="pr">Ven y comparte en familia<p></div>
      <a id="boton"class="waves-effect waves-light btn-large" href="/calendario">próximo evento</a>
	</div>
  <br>
  <br>
  <br>

      </div>
      <footer id="footer"class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">© 2017 Foodie Nights, INC. All Rights Reserved</h5>
                      <p class="grey-text text-lighten-4"></p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text"></h5>
                      <ul>

                      </ul>
                    </div>
                  </div>
                </div>
                <di>
                </div>
              </footer>


</body>

</html>
