<!DOCTYPE html>
<html>
  <head>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title> guachos.inc </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Calendario</a></li>
        <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"> Gaucho Nights</div>




</div>
<br>
<br>
<h1>La formula de un sabor especial</h1>
  <p id="inicio-explicacion">Te haz topado con querer ir a comer a tu restaurante favorito pero tienes que esperar largas horas por tu mesa? Te presentamos Guacho Nights, concepto "Pop-up restaurant" a llevarse a cabo una vez al mes, en diferentes lugares de la isla ,con la participacion de restaurantes y chef locales reconocidos. Durante los Gaucho Nights las personas podran traer sus sillas o mantas para disfrutar de su picnic en un ambiente familiar.</p id="largas">
</p>
<br>
<br>
<h2>A entrenar el paladar!</h2>

<div class="row">
  <div class="col s4">

    <p>
      Para que viajar? Mejor atrevete a extender tu paladar aqui con Gaucho Nights.
      Cada mes traeremos la gastronomia de una cultura diferente. Que te parece la comida
      Argentina o Italiana, hasta incluso la Francesa. Gaucho Nights te facilitara probar estas culturas y mucho mas.
    </p>

<div class="col s8">

  <img src="" alt="">
  </div>

</div>
</div>
<br>
<p id="reserva-online">Reserva online tu espacion siendo de los primeros en deleitar la magia de Gaucho Nights</p>

</body>

</html>
