<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title>reservaciones</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body id="reservaciones-body">
    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Calendario</a></li>
        <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"> Gaucho Nights</div>

    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input  id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>

            <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </form>
  </div>

<input type="date" class="datepicker">

<input type="date" class="timepicker">

</body>
</html>
