<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title>reservaciones</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Calendario</a></li>
        <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"> Gaucho Nights</div>



      <div class="row">
          <form class="col s12">
              <div class="input-field col s6" id="line1">
                <i class="material-icons prefix"><img src="https://www.materialui.co/materialIcons/action/account_circle_black_180x180.png" alt="" id="pf"></i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix" id="name">Nombre y Apellido</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix"><img src="https://image.flaticon.com/icons/svg/34/34067.svg" alt="" id="cel"></i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone" id="celular">Numero de Telefono</label>
              </div>
            </div>
          </form>
        </div>



      <div class="row">
       <divs class="col s12">
         <div class="input-field col s6" id="line">
             <i class="material-icons prefix"><img src="https://cdn4.iconfinder.com/data/icons/miu/24/circle_social-email-glyph-512.png" alt="" id="mail"></i>
           <input id="email" type="email" class="validate">
           <label for="email" data-error="wrong" data-success="right" id="correo">Email</label>
         </div>


</body>
</html>
