<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title>sobre-nosotros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
<li><a href="/reservaciones">Reservaciones</a></li>
        <li><a href="/calendario">Eventos</a></li>
        <li><a href="/sobre-nosotros">Quienes somos?</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"></div>
    <h1 id="comosurgio">Como Surgio Foodie Nights?</h1>
<div class="row">
  <div class="col s10">
    <p id="jovenes"> Cinco Jovenes emprendedores , que fluyen en la creatividad ,
       inspiracion e imaginacion ,
    El deseo de ensenar , expresar y compartir su amor por la diversidad cultural
  es demasiado grande para conservarlo para ellos mismos. De alguna manera se unen en una no tan
    perfecta armonia y surge:FoodieP Nights</p>

  </div>
</div>
<div id="div2" class="latest_news_block text-center">

<div class="latest_news_title" height="50">
  <h3 id="calendarFont"></h3>
  <p id="contactanos1"> Contactanos</p>

</div>
<div class="post-item-separator"></div>
<div class="latest_news_date">
</div>

</div>
<p id="pcontactanos">Nos podras contactar:</p>
<p id="pcontactanos">787-241-2862  787-918-7921</p>
<p id="pcontactanos">Foodienight@gmail.com</p>

<footer id="footer"class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">© 2017 Foodie Nights, INC. All Rights Reserved</h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>

                </ul>
              </div>
            </div>
          </div>
          <di>
          </div>
        </footer>


</body>
</html>
