<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title>sobre-nosotros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <nav>
      <ul class="navbar" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>

        <li><a href="/calendario">Eventos</a></li>
        <li><a href="/sobre-nosotros">Quienes somos?</a></li>
     </ul>
    </nav>
    <div class="brand-logo center" id="gaucho"></div>
    <h1 id="comosurgio">Como Surgio Gaucho Nights?</h1>
<div class="row">
  <div class="col s10">
    <p id="jovenes">5 Jovenes emprendedores , que fluyen en la creatividad , inspiracion y imaginacion .
    El deseo de ensenar , expresar y compartir su amor por la diversidad cultural no es
    basto para conservarlo para ellos mismos. De alguna manera se unen en una no tan
    perfecta armonia y surge:Gaucho Nights</p>

  </div>
</div>

</body>
</html>
