body {
  font-family: Lobster;
  text-opacity: 0.3;
  color: grey;
}

nav {
  background-color: black;
  letter-spacing: 1.5px;
  word-spacing: 10px;
}

 .navbar{
   font-size: 60px;
   align-content: : center;
   font-family:lobster;
 }

#gaucho {
  color: black;
  font-size: 60px;
  position: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family:lobster;

}

.slider {
  height: 450px;
}

h1 {
  color: black;
  font-size: 60px;
margin-top: 40px;
text-align: center;
text-shadow: black;
}

#inicio-explicacion{
font-size:20px;
text-align: center;
font-family: arial;
margin-left: 50px;
margin-right: 50px;
letter-spacing: 0px;


}
#h22{
  color: black;
}
h2{
font-size: 40px;
text-align: left;
margin-left: 20px;
margin-top:20px;
font-family: lobster;
}

#p{
  font-size:60px;

}

.video-wrapper {
height: 500px;
width: 100px;
}

div{
  font-family: arial;
  align-left: 50px;
  margin-left: px;
  font-size: 20px

}

hr {
	color: #8c8b8b;
	font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
.latest_news_block {
    background-color:#fff59d;
    padding: 40px 0;

}
h3{
  font-family: arial;
  text-align: center;
  color: black;

}

#calendarFont{
font-family: 'Source Sans-Pro', sans-serif;
font-weight: lighter;
font-size: 30px;
}


}
#div2{
margin-left: 20px;
margin-right: 20px;
margin-bottom: 50px;
width: 100px;



}
#pr{
  text-align: center;

}

#boton{
  font-size: 24px;
  width: 25%;
  align-button:center;
  background-color: white;
  color:black;
  font-family:inherit;

}
#reservaciones-body{

background-image: image();
}
#footer{
  width: px;
  height:100px;
  background-color: black;

}
h5{
  font-size: 20px;
}
#h1cal{
font-family:arial;
font-size:30px;
color: grey;
}

#tabla{
  color: black;
font-family: arial;
}
#top{
  font-family: lobstar
}

#boton {
  margin-left: 468px;
}
#comosurgio{
  text-align: center;
}
#jovenes{
  text-align: center;
  margin-left: 220px;
  margin-right: px;
}
